# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode settings
.vscode/

# Data files
/data/*.csv
/data/*db

# SQLite and other DB files
*.db
*.sqlite3

# Environment
.env
venv/

# OS files
.DS_Store
Thumbs.db
